{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "> 1% in CZ",
            "iOs >= 10",
            "last 3 versions"
          ]
        }
      }
    ]
  ]
}
