{
  "extends": [
    "eslint-config-standart-partyk",
    "plugin:vue/vue3-essential"
  ],
  "plugins": [
    "vue"
  ],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "extends": "standard-with-typescript",
      "parserOptions": {
        "project": ["./tsconfig.json"]
      },
      "rules": {
        "@typescript-eslint/comma-dangle": [
          1,
          {
            "arrays": "always-multiline",
            "objects": "always-multiline",
            "imports": "always-multiline",
            "exports": "always-multiline",
            "functions": "always-multiline"
          }
        ],
        "@typescript-eslint/space-before-function-paren": [1,
          {
            "anonymous": "always",
            "named": "never",
            "asyncArrow": "always"
          }
        ],
        "@typescript-eslint/indent": [1, 4, {"SwitchCase": 1}],
        "@typescript-eslint/semi": [2, "always", {"omitLastInOneLineBlock": true}],
        "@typescript-eslint/quotes": [1, "single", {"allowTemplateLiterals": true}],
        "@typescript-eslint/object-curly-spacing": [1, "never", {"objectsInObjects": true}],
        "@typescript-eslint/dot-notation": 1,
        "@typescript-eslint/lines-between-class-members": [1, "always", {"exceptAfterSingleLine": true}]
      }
    }
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaVersion": 12,
    "parser": "@babel/eslint-parser",
    "babelOptions": {
      "presets": ["@babel/preset-env"]
    },
    "sourceType": "module"
  },
  "rules": {
    "vue/script-indent": ["warn", 4, {
      "baseIndent": 0
    }],
    "vue/html-indent": ["warn", 4, {
      "attribute": 2
    }]
  }
}
